@use "../abstracts/colors.scss";


.upgrades {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: map-get(colors.$upgrades, "background");
    width: max-content;
    border-radius: 1rem;


    &__upgrade {
        padding: 2rem;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 5% 95%;
        transition: 0.2s all;


        &:nth-of-type(1) {
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;

        }

        &:nth-of-type(3) {
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;

        }

        &>i {
            transform: translateY(10%);
            color: map-get(colors.$cookie, "spots");
        }

        &:hover {
            cursor: pointer;
            background: map-get(colors.$cookie, "background");
        }
    }
}

.upgradesMobile {
    display: none;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-rows: 5rem;



    &__upgrade {
        background: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        gap: 0.5rem;
        transition: 0.8s all;

        &:active {
            transform: scale(0.8);
        }
    
    }

  
}