body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#3b3b3b, #c17e1b);
    padding: 4rem;
}

.buttonAndAvatarWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}